<div id="<%= dom_id player_hand %>">
  <p>
    <strong>Game:</strong>
    <%= player_hand.game_id %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= player_hand.player_id %>
  </p>

  <p>
    <strong>Card:</strong>
    <%= player_hand.card_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= player_hand.order %>
  </p>

</div>
