<%= form_with(model: phase_deck) do |form| %>
  <% if phase_deck.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(phase_deck.errors.count, "error") %> prohibited this phase_deck from being saved:</h2>

      <ul>
        <% phase_deck.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :game_id, style: "display: block" %>
    <%= form.text_field :game_id %>
  </div>

  <div>
    <%= form.label :player_id, style: "display: block" %>
    <%= form.text_field :player_id %>
  </div>

  <div>
    <%= form.label :card_id, style: "display: block" %>
    <%= form.text_field :card_id %>
  </div>

  <div>
    <%= form.label :order, style: "display: block" %>
    <%= form.number_field :order %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
