<div id="<%= dom_id phase_deck %>">
  <p>
    <strong>Game:</strong>
    <%= phase_deck.game_id %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= phase_deck.player_id %>
  </p>

  <p>
    <strong>Card:</strong>
    <%= phase_deck.card_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= phase_deck.order %>
  </p>

</div>
