<p style="color: green"><%= notice %></p>

<%= render @phase_deck %>

<div>
  <%= link_to "Edit this phase deck", edit_phase_deck_path(@phase_deck) %> |
  <%= link_to "Back to phase decks", phase_decks_path %>

  <%= button_to "Destroy this phase deck", @phase_deck, method: :delete %>
</div>
