<p style="color: green"><%= notice %></p>

<%= render @player_order %>

<div>
  <%= link_to "Edit this player order", edit_player_order_path(@player_order) %> |
  <%= link_to "Back to player orders", player_orders_path %>

  <%= button_to "Destroy this player order", @player_order, method: :delete %>
</div>
