<p style="color: green"><%= notice %></p>

<%= render @game_discard %>

<div>
  <%= link_to "Edit this game discard", edit_game_discard_path(@game_discard) %> |
  <%= link_to "Back to game discards", game_discards_path %>

  <%= button_to "Destroy this game discard", @game_discard, method: :delete %>
</div>
